#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed -Wl,-O1 -Wl,-z,defs
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)" -DENABLE_GIO=ON -DENABLE_THUMBNAILER=ON -DENABLE_TESTS=OFF

override_dh_strip:
	dh_strip --dbg-package=ffmpegthumbnailer-dbg

get-orig-source:
	-uscan --rename --upstream-version 0
	@echo successfully retrieved upstream tarball
